body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {

    background: url('imagen2.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
  }
  
  
header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

.menu, .gallery, .contact {
    padding: 2rem;
    text-align: center;
}

.menu h2, .gallery h2, .contact h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff6f61;
}

.menu-item, .gallery-item {
    display: inline-block;
    width: 30%;
    margin: 1rem;
    vertical-align: top;
    text-align: left;
}

.menu-item img, .gallery-item img {
    width: 100%;
    border-radius: 8px;
}

.menu-item h3, .gallery-item h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.menu-item p, .gallery-item p {
    font-size: 1rem;
    color: #21311b;
}

/* Estilos para la sección de contacto */
.contact {
    background-image: url('LimaMalecon.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la sección */
    background-position: center; /* Centra la imagen */
    padding: 50px;
    color: white; /* Asegura que el texto sea visible sobre el fondo */
}

.contact form {
    display: inline-block;
    text-align: left;
    background: rgba(250, 250, 250, 0.74); /* Fondo oscuro semi-transparente para el formulario */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; /* Limita el tamaño máximo del formulario */
    margin: 0 auto;
}

.contact form input, 
.contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #61dd0e;
    border-radius: 4px;
    font-size: 1rem;
}

.contact form button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #2e04e6;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #bbb234;
}

/* Estilos para el pie de página */
footer {
    background-color: #3ed61fb0;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h4{
    color: #10da3c;
    font-size: 40px;
}
